td,th {
text-align:center;
border:1px solid
}
.different {
text-align:center;
width:10%;
}
#bg {
background-color:grey;
}
ul {
margin-left:12%;
}
table {
border:1px solid;
border-collapse:collapse;
width:80%;
margin:0px auto;
padding:0px,0px,20px,0px;
}