#top {
    width:100%;
    height:20%;
    margin:0 auto;
    text-align:center;
}
#bottom {
    position:absolute;
    bottom:0;   
    height:100px;
    width:100%;
    text-align:center;   
}
#home {
    width:8%;
    margin:0 auto;
    float:left;
    text-align:center
}
#othertwo {
    width:8%;
    float:left;
    text-align:center
}
