@import url("https://fonts.googleapis.com/css?family=Lobster");
/*imported Google Font via CSS instead of placing it into three heads*/
#divbg {
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    width:100%;
    margin-bottom:80px;
    margin-top:100px;
    background-color: gainsboro;
}

#top {
    width:100%;
    height:50px;
    margin:0 auto;
    text-align:center;
    font-family:"Lobster";
}
#bottom {
    position:absolute;
    bottom:0;   
    height:80px;
    width:100%;
    text-align:center;
}
#home {
    width:8%;
    margin:0 auto;
    float:left;
    text-align:center
}
#othertwo {
    width:8%;
    float:left;
    text-align:center
}