td,th {
    text-align:center;
    border:1px solid
}
tbody {
    font-style:italic;
    background-color:pink;
}
.different {
    text-align:center;
    width:60px;
}
#bg {
    background-color:grey;
}
ul {
    margin-left:12%;
}
table {
    border:1px solid;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    width:900px;/*Gave the table a fixed width as to demonstrate that it is responsive*/
}
.lobster {
    font-family: "Lobster";
}
li {
    font-style:italic;
}
#div1 {
/*centering my album cover as a background image in the div*/
    position:relative;
    left:50%;
    margin-left:-150px;
    margin-top:20px;
    height:300px;
    width:300px;
    background-image:url("http://s3.amazonaws.com/content.sitezoogle.com/u/158485/2149a96f2c9197911346b23d10efde98b238303d/medium/sunbather-cover.png?1422478811");
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
    background-color:pink;
}
