@import url("https://fonts.googleapis.com/css?family=Lobster");
/*imported Google Font via CSS instead of placing it into three heads*/
html {
    min-height:100%
}   
#body {
    clear:both;
    width:100%;
    height:100%;
    background-color: lightslategray;
}   

#top {
    width:100%;
    height:50px;
    text-align:center;
    font-family:"Lobster";
    color:lightslategray;
    background-color: blanchedalmond;
    }

a:visited {
    color:lightslategray;
    }
a:hover {
    font-weight:bold;
    }
a:active {
    text-decoration: none;
    }   
ul {
    background-color: blanchedalmond;
    }
.page-header {
    text-align:center;
    color:blanchedalmond;
    width:100%;
    }
body {
    background-color: lightslategray;
    margin-bottom:60px
    }
.navbar-fixed-bottom {
    color:lightslategray;
    text-align:center;
    background-color:blanchedalmond;
    }
#textbox {
    margin-right:auto;
    margin-left:auto;
    width:380px;
    padding-top:20px;
    color:blanchedalmond;
    font-size:medium;
    text-indent:25px;    
    }
