td,th {
text-align:center;
border:1px solid
}
.different {
text-align:center;
width:10%;
}
#bg {
background-color:grey;
}
ul {
margin-left:12%;
}
table {
border:1px solid;
border-collapse:collapse;
width:80%;
margin:0px auto;
}
.lobster {
font-family: "Lobster";
}
li {
font-style:italic;
}
#div1 {
/*centering my album cover as a background image in the div*/
position:relative;
left:50%;
margin-left:-150px;
margin-top:20px;
height:300px;
width:300px;
background-image:url("http://s3.amazonaws.com/content.sitezoogle.com/u/158485/2149a96f2c9197911346b23d10efde98b238303d/medium/sunbather-cover.png?1422478811");
}