#centered {
    text-align: center;
}

img {
    height:100px;
    width:100px;

}
.col-md-12 {
    padding-top:10px;
}
h2,p {
   color: white;
   font-weight: heavy;
}
#start {
    padding-right:20px;
    color: white;
    font-size:large;
}
#bankRoll {
    text-align: center;
    width:50px;
}
#result {
    color:white;
    font-size:x-large;
}
table {
    margin-left:auto;
    margin-right:auto;
    width:400px;
    border-color:white;
    border:1px solid;
    border-collapse:collapse;
    color:white;        
}
th {
    text-decoration: underline;
    text-align:center;
    font-size: x-Large;
}
tr, td {
    border:1px solid;
    border-collapse: collapse;
    border-color: white;
    font-size:large;
}
.second {
    text-align: right;
    padding-left:20px;
    padding-right:20px;
}
body {
    background-color: red;
}
#first {
    background-color: grey;
}
div {
    text-align: center;
}
#pad {
    padding-bottom:25px;
}